.admin-dashboard-component .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 48em;
}

.admin-dashboard-component .card {
  text-decoration: none;
  background-color: #60b0f4;
  box-shadow: 0 3px 8px -2px rgba(0, 0, 0, .6);
  border-radius: 6px;
  padding: 30px 0;
  width: 132px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  margin: 8px;
}

.admin-dashboard-component .card .icon {
  color: #fff;
  font-size: 24px;
  display: block;
  margin-top: 20px;
}

.admin-dashboard-component .card .scooter-icon {
  width: 50px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 25px 0 0 0;
}

.admin-dashboard-component .card .scooter-icon path {
  fill: #fff;
}

@media all and (min-width: 48em) {
  .admin-dashboard-component .card {
    width: 220px;
    font-size: 28px;
    padding: 50px 0;
    margin: 20px;
    font-weight: 300;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    transition: 200ms;
  }

  .admin-dashboard-component .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .6);
    background-color: #42a6ff;
  }

  .admin-dashboard-component .card .icon {
    font-size: 40px;
    margin-top: 32px;
    transition: 200ms;
  }

  .admin-dashboard-component .card:hover .icon {
    text-shadow: 0 4px 6px rgba(0, 0, 0, .5);
  }
}
