@media print {
  a {
    page-break-inside: avoid
  }

  blockquote {
    page-break-inside: avoid;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid
  }

  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  table, pre {
    page-break-inside: avoid
  }

  ul, ol, dl {
    page-break-before: avoid
  }

  a:link, a:visited, a {
    background: transparent;
    color: #520;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
  }

  a {
    page-break-inside: avoid
  }

  a[href^=http]:after {
    content: " &lt; " attr(href) "&gt; ";
  }

  img {
    content: "";
  }

  article a[href^="#"]:after {
    content: "";
  }

  a:not(:local-link):after {
    content: " &lt; " attr(href) "&gt; ";
  }
}
