.login-component {
  display: flex;
  justify-content: center;
}

.login-component .login-form {
  margin-top: 8%;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 8px 32px -8px rgba(0, 0, 0, .3);
}

.login-component .login-form h1 {
  margin: 0;
  line-height: 1;
  font-size: 24px;
}

.login-component .login-form hr {
  margin-top: 10px;
}

.login-component .login-form footer {
  text-align: right;
}

.login-component .login-form button[type="submit"] {
  margin-top: 16px;
  margin-left: 16px;
}

.login-component .login-form .account-feedback {
  margin-top: 10px;
  text-align: right;
}

.login-component .login-form .account-feedback p {
  margin: 0;
  font-size: 12px;
}

@media (min-width: 768px) {
  .login-component .login-form {
    padding: 16px;
  }

  .login-component .login-form h1 {
    font-size: 32px;
  }
}
